* {
  box-sizing: border-box;
}

body {
  min-width: 768px;
  font-family: 'PT Sans', sans-serif;;
  /*background-image: url(dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
