.gallery {
  display: flex;
  overflow: hidden;
}

.gallery img {
  width: 1020px;
}

.gallery figure {
  width: 100%;
}


/* Chevron */

.chevron {
  transform: rotate(45deg);
}

.chevron div {
  background: black;
}

.chevron div:first-child {
  width: 5px;
  height: 25px;
}

.chevron div:last-child {
  width: 30px;
  height: 5px;
}
