.chevron {
  transform: rotate(45deg);
}

.chevron div  {
  width: 5px;
  height: 30px;
  background: black;
}

.chevron div:first-child {
  width: 5px;
  height: 25px;
}

.chevron div:last-child {
  width: 30px;
  height: 5px;
}
